{% extends 'base.html.twig' %}

{% block title 'Profil' %}

{% block body %}

    <h1>Votre profil</h1>


   <h4> Bonjour {{ user.username }} </h4>

    <a href="#" class="btn btn-dark">Modifier</a>
{% endblock %}