{% extends 'base.html.twig' %}

{% block title 'Présentation de la brasserie' %}

 {% block body %}
     <h1>Nos produits</h1>

     <div class="alert alert-danger">
         Attention, tous nos produits sont à retirer en magasin
     </div>
     <div class="row">
         {% for product in products %}
            {{ include('product/_product.html.twig') }}
         {% endfor %}
     </div>

     <div class="navigation mt-4 d-flex justify-content-center">
         {{ knp_pagination_render(products) }}
     </div>
 {% endblock %}