{% extends 'base.html.twig' %}

{% block title "Création d'un produit" %}

{% block body %}

    <h1>Ajouter un produit</h1>

    {{ include('admin/product/_form.html.twig', {form: form}) }}

{% endblock %}