{% extends 'base.html.twig' %}

{% block title 'Réservation' %}

{% block body  %}

    <h1>Visualition des réservation</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <td>N° de commande</td>
                <td>Action</td>
            </tr>
        </thead>
        {% for order in orders %}
            <tbod>
                <tr>
                    <td>Commande n°{{ order.id }}</td>
                    <td>En attente</td>
                </tr>
            </tbod>
        {% endfor %}

    </table>
{% endblock %}